player-connection-mode=Listen
player-connection-guid=3321638986
player-connection-debug=0
player-connection-project-name=Catnip Addiction
player-connection-ip=192.168.64.107
player-connection-ip=192.168.122.1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=cf06d7c5a1a24f929b558aaf4729f9b8
